html,
body {
  background-color: #1f2833;
  height: 100vh;
  margin: 0;
}

.container {
  width: 1114px;
  margin: 30px auto;
}

.whale-alerts {
  width: 100%;
  background: #2B2B2B;
  border-radius: 5px;
  color: #B9C0CB;
  word-break: break-word;
  overflow-wrap: break-word;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  padding: 14px 18px;
  height: 448px;
}

.whale-alerts span {
  display: inline-block;
}

.whale-alerts .date-time {
  color: #A5C25C;
}

.whale-alerts .symbol {
  color: #CC7832;
  font-weight: bolder;
  text-transform: uppercase;
}

.whale-alerts .transfers {
  color: #629755;
}

